{% extends 'base.html' %}

{% block title %}
<title>About shop</title>
{% endblock %}

{% block body %}


<body>

  <div class="container py-4">

    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Раздел</h1>
        <p class="col-md-8 fs-4">Текст для раздела</p>
        <button class="btn btn-primary btn-lg" type="button">Кнопка</button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Раздел</h2>
          <p>Текст для раздела</p>
          <button class="btn btn-outline-light" type="button">Кнопка</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Раздел</h2>
          <p>Текст для раздела</p>
          <button class="btn btn-outline-secondary" type="button">Кнопка</button>
        </div>
      </div>
    </div>

  </div>

</body>
{% endblock %}
